pyTelegramBotAPI==4.14.1
Flask==3.0.0
python-dotenv==1.0.0
rapidfuzz==3.5.2
pyzbar==0.1.9
Pillow==10.1.0
deep-translator==1.11.4
openai==1.6.1
imapclient==3.0.1
pyzmail36==1.0.5
yagmail==0.15.293
SpeechRecognition==3.10.1
pydub==0.25.1
requests==2.31.0
numpy==1.26.2
pytesseract==0.3.10
gunicorn==21.2.0
